<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>Вы {{ queue_position }} - РОСМОСГОСКОСМОС БАНК</title>
    </head>
    <body>
        <header>
            <div class="logo"><img src="/static/logo.jpg"> БАНК</div>
        </header>
        <h1>Добро пожаловать</h1>

        <section>
            <h2>РОСМОСГОСКОСМОС БАНК</h2>
            <h3>В связи с загруженностью спутниковых каналов связи и орбитальных серверов Банка организована очередь для доступа к услугам Банка. Пожалуйста, ожидайте в очереди.</h3>

            <p>Спасибо за ваше терпение в очереди. Вы в очереди.</p>
            <h4>Ваше место в очереди: {{ queue_position }} в очереди.</h4>
            <p>Примерное время ожидания в очереди: {{ time_to_wait }} у.&nbsp;е.</p>
            <p>После момента окончания ожидания в очереди у вас будет достаточно времени, чтобы воспользоваться всеми необходимыми услугами Банка, однако при отсутствии активности с вашей стороны в течение 15 у.&nbsp;е. система очереди вернёт вас обратно в очередь.</p>
            <h4>Спасибо за ваше ожидание в очереди.</h4>
            <p>Обновляйте страницу, чтобы узнать время ожидания в очереди, но не слишком часто. Нарушители этого правила ожидания в очереди будут дольше ждать в очереди.</p>
            <p><i>Большое спасибо за ваше терпение в очереди и ожидание в очереди.</i></p>
            <p><error>{{ error_text }}</error></p>
        </section>

        <div class="payments">
            <div style="text-align: right; padding: 20px">
                <img src="/static/leet.png" class="leet"><br>
                <p>
                    <b>Платёжная система ЛИТ</b><br>
                    104-битовое шифрование ГОСТ Р 34.2012
                </p>
            </div>
            <div style="padding: 20px">
                <h3 style="margin: 0">
                    Записаться в контакт-центр:<br>
                    <span style="font-size: 2em; line-height: 0.5em;">1337</span>
                </h3>
                <p style="line-height: 0.5em; margin-top: 0; opacity: .5"><small style="font-size: 0.8em; letter-spacing: -0.05em">С мобильного, городского<br>и даже космического.<br><br>Звонок платный, требуется<br>предварительная запись<br>в очередь по телефону.</small></p>
            </div>
        </div>
    </body>
</html>
