<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #000000;
            color: #ffffff;
            font-family: 'Comic Sans MS', sans-serif;
            line-break: anywhere;
        }
        h1 {
            color: #ffffff;
        }
        p {
            color: #ffffff;
        }
        error {
            color: #FF0000;
        }
    </style>
    <title>Вы в очереди.</title>
</head>
<body>
    <h1>Вы находитесь на странице ожидания для перехода на таску. Спасибо.</h1>
    <p>Спасибо за ваше терпение. Вы в очереди.</p>
    <p>Ваше место в очереди: {{ queue_position }} в очереди</p>
    <p>Примерное время ожидания в очереди: {{ time_to_wait }}.</p>
    <p>После перехода на таску у вас будет достаточно времени, чтобы найти флаг и сдать его, однако при отсутствии активности с вашей стороны в течение 15 система вернет вас обратно в очередь.</p>
    <p>Спасибо за ваше ожидание в очереди.</p>
    <p>Обновляйте страницу чтобы узнать время ожидания, но не слишком часто, пожалуйста. Спасибо</p>
    <p>Большое спасибо за ваше терпение и ожидание в очереди.</p
    <p><error>{{ error_text }}</error></p>
</body>
</html>
